<div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="addTaskLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addTaskLabel">Add New Task</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="addTaskForm" (ngSubmit)="createTask()">
          <div>
            <div class="form-group"
                 [class.has-error]="addTaskForm.controls.title.dirty && (addTaskForm.controls.title.errors != null)">
              <label>Title:</label>
              <input type="text" class="form-control" formControlName="title" placeholder="A descriptive title...">
              <span class="text-danger"
                    *ngIf="addTaskForm.controls.title.dirty && (addTaskForm.controls.title.errors != null)">Minimum length for your title is 5 characters.</span>
            </div>

            <div class="form-group" *ngIf="taskSettings">
              <label>Status:</label>
              <select class="form-control" formControlName="status">
                <option *ngFor="let status of taskSettings.status" value="{{status}}">{{status}}</option>
              </select>
            </div>

            <div class="form-group" *ngIf="taskSettings">
              <label>Priority:</label>
              <select class="form-control" formControlName="priority">
                <option *ngFor="let priority of taskSettings.priority" value="{{priority}}">{{priority}}</option>
              </select>
            </div>

            <div class="form-group" *ngIf="userList">
              <label>Assignee:</label>
              <input type="text" class="form-control" formControlName="assignee" placeholder="Double-click to select..."
                     list="userList">
              <datalist id="userList">
                <option *ngFor="let assignee of userList" value="{{assignee.name}}">
              </datalist>
            </div>

            <div class="form-group" *ngIf="categoryList">
              <label>Category:</label>
              <select class="form-control" formControlName="category">
                <option *ngFor="let category of categoryList" value="{{category.name}}">{{category.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Comment:</label>
              <textarea class="form-control" formControlName="comment"
                        placeholder="Markdown supported."></textarea>
            </div>

          </div>
        </form>

      </div>
      <div class="modal-footer">
        <div class="pull-left"><span class="text-danger">* Required</span></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button [disabled]="addTaskForm.invalid" (click)="createTask()" type="button" class="btn"
                [ngClass]="{'btn-primary': isLoading === false,'btn-info': isLoading === true}">
          <span *ngIf="isLoading === false">Add Task</span>
          <span class="button-minwidth"><loading-spinner [visible]="isLoading"></loading-spinner></span>
        </button>
      </div>
    </div>
  </div>
</div>
