<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-center">
      <div *ngIf="auth.authenticated() && auth.loggedUserName()">
        <div>
          <span *ngIf="!auth.profilePic()"><img src="assets/images/profile.png" class="profile-image"></span>
          <span *ngIf="auth.profilePic()"><img src="{{auth.userProfile.user_metadata.user_avatar}}" class="profile-image"></span>
        </div>
        <div>
          {{auth.userProfile.user_metadata.name}}
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <form [formGroup]="addMessageForm" (ngSubmit)="addMessage()">

        <div class="form-group">
          <label>Message:</label>
          <textarea class="form-control" formControlName="message"
                    placeholder="Type message, markdown supported."></textarea>
        </div>

        <a (click)="addMessage()" class="btn btn-success pull-right">Send</a>

      </form>
    </div>
  </div>
  <hr>
  <div *ngIf="task.discussion">
  <div *ngFor="let message of task.discussion" class="row">
    <div class="col-md-2 text-center">
      <div><img [src]="getProfilePic(message.author)" class="profile-image"></div>
      <div>{{message.author}}</div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">

        <div class="pull-right discussion-controls">
          {{message.created | date: 'medium'}} - <a class="text-primary">Edit</a> - <a (click)="deleteMessage(message.id)" class="text-danger">Delete</a>
        </div>
        <br>
      <div class="panel-body">
      <div class="message-well">{{message.message}}</div>
      </div>
      </div>
    </div>
  </div>
  </div>
</div>



