<div class="modal fade" id="showComment" tabindex="-1" role="dialog" aria-labelledby="showCommentLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" *ngIf="selectedTask">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div [innerHTML]="selectedTask.comment | markdown"></div>
          </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
