<!--ADD Category to project MODAL-->
<div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="editProjectLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editProjectLabel">Edit Project</h4>
      </div>
      <div *ngIf="projectSummary" class="modal-body">

        <form [formGroup]="formEditProject" (ngSubmit)="editProject()">
          <div>
            <div class="form-group" [class.has-error]="formEditProject.invalid">
              <label>Project Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="projectName" [(ngModel)]="projectSummary.projectName">
              <span *ngIf="formEditProject.controls.projectName.hasError('maxLength')">Maximum number of characters reached [40].</span>
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" formControlName="description" [(ngModel)]="projectSummary.description"></textarea>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <div class="pull-left"><span class="text-danger">* Required</span></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button [disabled]="formEditProject.invalid" (click)="editProject()" type="button" class="btn" [ngClass]="{'btn-primary': isLoading === false,'btn-info': isLoading === true}">
          <span *ngIf="isLoading === false">Save</span>
          <span class="button-minwidth"><loading-spinner [visible]="isLoading"></loading-spinner></span>
        </button>
      </div>
    </div>
  </div>
</div>
