<div id="wrapper" [class.toggled]="sideMenuToggle">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <div *ngIf="selectedProject">
          <i class="fa fa-square-o fa-lg fa-margin" [ngStyle]="{color: selectedProject.colorId}"></i>
          {{selectedProject.projectName | capitalize | substring:'20'}}
        </div>
      </li>
      <li>
        <a routerLinkActive="activated-nav" routerLink="dashboard"> <i class="fa fa-tachometer fa-margin"></i> Dashboard</a>
      </li>
      <li>
        <a routerLinkActive="activated-nav" routerLink="tasks"> <i class="fa fa-tasks fa-margin"></i> Tasks</a>
      </li>
      <li>
        <a routerLinkActive="activated-nav" routerLink="team"><i class="fa fa-users fa-margin"></i> Team</a>
      </li>
      <li>
        <a routerLinkActive="activated-nav" routerLink="categories"><i class="fa fa-cogs fa-margin"></i> Categories</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <div class="top-bar">
    <a (click)="toggleSideMenu()"class="btn btn-default btn-sm btn-black" ><i class="fa fa-bars fa-lg"></i></a>

    <span *ngIf="selectedProject">

      <button *ngIf="router.isActive('/project/' + selectedProject.id + '/tasks')" class="btn btn-sm btn-success" data-toggle="modal" data-target="#addTask">
      <i class="glyphicon glyphicon-plus"></i>
      Add Task
      </button>

      <button *ngIf="router.isActive('/project/' + selectedProject.id + '/dashboard')" class="btn btn-info btn-sm">Edit</button>

      <button *ngIf="router.isActive('/project/' + selectedProject.id + '/dashboard')" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteProject">Delete</button>

      <button *ngIf="router.isActive('/project/' + selectedProject.id + '/team')" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addToTeam">
      <i class="glyphicon glyphicon-plus"></i>
      Add From Contacts
      </button>

      <button *ngIf="router.isActive('/project/' + selectedProject.id + '/categories')" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addCategory">
      <i class="glyphicon glyphicon-plus"></i>
      Add Category
      </button>

    </span>

  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="container-fluid">
      <div class="row">
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->



<!-- CONFIRM DELETE MODAL -->
<div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="deleteProjectLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <strong class="text-danger">Are you sure you want to delete this project?</strong>
      </div>
      <div class="modal-footer">
        <button (click)="deleteProject()" type="button" class="btn btn-danger">YES</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>
