.top-bar{
  background-color: #ffffff;
  padding: 7px 0px 5px 20px;
  min-height: 40px;
  box-shadow: 0px 1px 1px #888888;
}

.fa-margin{
  text-indent: 0px;
  margin-right: 5px;
}

.btn-black{
  background-color: #000000;
  color: #ffffff;
}


