<div class="top-bar">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-3">
      <div class="input-group input-group-sm pull-right">
        <input type="text" class="form-control" placeholder="Search for..." aria-describedby="sizing-addon3">
      </div>
    </div>
  </div>
</div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="inner-page-wrapper">

      <div *ngFor="let activity of activityList" class="well well-sm">
        <span>
          {{activity.who}} -&nbsp;
        </span>

        <span>{{activity.action}}</span>

        <span class="pull-right">{{activity.date | date:'medium'}}</span>

      </div>

      </div>
    </div>
  </div>
</div>
