<div id="wrapper" [class.toggled]="sideMenuToggle">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <div *ngIf="selectedProject">
          <i class="fa fa-square-o fa-lg" [ngStyle]="{color: selectedProject.colorId}"></i>
          {{selectedProject.projectName | capitalize | substring:'20'}}
        </div>
      </li>
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="#">Shortcuts</a>
      </li>
      <li>
        <a href="#">Overview</a>
      </li>
      <li>
        <a href="#">Events</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <div class="top-bar">
    <a (click)="toggleSideMenu()"class="btn btn-default btn-sm btn-black" ><i class="fa fa-bars fa-lg"></i></a>
    <a  class="btn btn-info btn-sm">Edit</a>
    <a  class="btn btn-danger btn-sm">Delete</a>

  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="container-fluid">
      <div class="row">

      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
