<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="inner-page-wrapper">

        <div class="row">
          <div class="col-md-6">
            <table class="table table-hover table-bordered table-condensed">
              <thead>
              <tr>
                <th width="1%">#</th>
                <th width="84%">Name</th>
                <th width="15%"></th>
              </tr>
              </thead>
              <tbody *ngIf="categoryList">
              <tr *ngFor="let category of categoryList, let i = index">
                <td>{{i+1}}</td>
                <td>
                  {{category.name}}
                </td>
                <td>
                  <button (click)="removeCategory(category.id)" class="btn btn-xs btn-danger btn-block">Delete
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">

          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<!--ADD Category to project MODAL-->
<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategoryLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addCategoryLabel">Add Category</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="formAddToCategory" (ngSubmit)="addCategory()">
          <div>

            <div class="row">
              <div class="col-md-8">
                <div class="form-group" [class.has-error]="(formAddToCategory.controls.name.hasError('duplicate') ||
                                                           formAddToCategory.controls.name.hasError('required')) &&
                                                           formAddToCategory.controls.name.touched ">
                  <input type="text" class="form-control" formControlName="name" placeholder="Category name...">
                  <span class="text-danger" *ngIf="formAddToCategory.controls.name.hasError('duplicate')">Contact is already a member of this team!</span>
                  <span class="text-danger" *ngIf="formAddToCategory.controls.name.hasError('required') && formAddToCategory.controls.name.touched ">This field can not be empty!</span>
                </div>
              </div>
              <div class="col-md-4">
                <button class="btn btn-block btn-success" [disabled]="formAddToCategory.invalid">Add!</button>
              </div>
            </div>

          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
