<div class="inner-page-wrapper">


  <div *ngIf="!anyErrors">
    <table class="table table-bordered table-condensed">
      <thead>
      <tr>
        <th></th>
        <th width="35%">Title <span class="table-sort default-arrow"
                                    [class.sort-asc]="sortBy == '+title'"
                                    [class.sort-desc]="sortBy == '-title'"
                                    (click)="sort('title')">
      </span></th>

        <th>Date <span class="table-sort default-arrow"
                       [class.sort-asc]="sortBy == '+date'"
                       [class.sort-desc]="sortBy == '-date'"
                       (click)="sort('date')">
      </span></th>

        <th>Category <span class="table-sort default-arrow"
                           [class.sort-asc]="sortBy == '+category'"
                           [class.sort-desc]="sortBy == '-category'"
                           (click)="sort('category')">
      </span></th>

        <th>Created By <span class="table-sort default-arrow"
                             [class.sort-asc]="sortBy == '+author'"
                             [class.sort-desc]="sortBy == '-author'"
                             (click)="sort('author')">
      </span></th>

        <th>Assignee <span class="table-sort default-arrow"
                           [class.sort-asc]="sortBy == '+assignee'"
                           [class.sort-desc]="sortBy == '-assignee'"
                           (click)="sort('assignee')">
      </span></th>

        <th>Status <span class="table-sort default-arrow"
                         [class.sort-asc]="sortBy == '+status'"
                         [class.sort-desc]="sortBy == '-status'"
                         (click)="sort('status')">
      </span></th>

        <th>Testing Status</th>

        <th>Priority <span class="table-sort default-arrow"
                           [class.sort-asc]="sortBy == '+priority'"
                           [class.sort-desc]="sortBy == '-priority'"
                           (click)="sort('priority')">
      </span></th>

        <th>D</th>
        <th>C</th>
      </tr>

      <tr *ngIf="isLoading == true">
        <td colspan="11">
          <loading-spinner [visible]="isLoading"></loading-spinner>
        </td>
      </tr>
      </thead>
      <tbody>
      <!--ROW SETUP, filter is for search, orderBy is for column sort, paginate is for pagination-->
      <tr
        *ngFor="let task of tasks | tableSorting:[sortBy] | paginate: { itemsPerPage: rowsPerPage, currentPage: p }"

        [ngClass]="{
      completed: task.status == 'Completed',
      workingonit: task.status == 'Working on It',
      forlater: task.status == 'For Later',
      testing: task.status == 'Testing',
      inqueue: task.status == 'In Queue',
      explainingrequired: task.status == 'Explaining Required'
      }">
        <!--ROW SETUP END-->
        <td>

          <!--ROW MENU-->
          <div class="dropup">
            <i class="glyphicon glyphicon-option-vertical dropdown-toggle" id="taskMenu" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"></i>

            <div class="dropdown-menu" aria-labelledby="taskMenu">
              <a (click)="openTask(task, 'edit')" class="btn btn-primary btn-xs btn-block" data-toggle="modal" data-target="#editTask">Edit</a>
              <div role="separator" class="divider"></div>
              <a (click)="openTask(task, 'delete')" class="btn btn-danger btn-xs btn-block" data-toggle="modal" data-target="#deleteTask">Delete Task</a>

            </div>
          </div>
          <!--ROW MENU END-->
        </td>

        <td>{{task.title | capitalize | substring}}</td>
        <td>{{task.date | timeAgo}}</td>
        <td>{{task.category}}</td>
        <td>{{task.author}}</td>
        <td>{{task.assignee}}</td>
        <td>{{task.status}}</td>
        <td>
          <div *ngIf="task.status == 'Testing'"><span *ngFor="let tester of task.testers"><span class="name-initials">{{tester?.name | nameInitials}}</span>&nbsp;</span>
          </div>

        </td>
        <td><i class="fa" [ngClass]="{
      'priority-low': task.priority == 'Low',
      'priority-normal': task.priority == 'Normal',
      'priority-important': task.priority == 'Important',
      'priority-urgent': task.priority == 'Urgent',
      'priority-critical': task.priority == 'Critical'
      }"></i>
          {{task.priority}}
        </td>
        <td align="center">
          <span (click)="openTask(task, 'view')" class="fa"
                [ngClass]="{'fa-plus': !task.discussion,'fa-weixin': task.discussion}"
                data-toggle="modal" data-target="#editTask"></span>
        </td>
        <td align="center">

          <span *ngIf="task.comment == ''">--</span>
          <span *ngIf="task.comment != ''" class="glyphicon glyphicon-comment"
                data-toggle="modal" data-target="#editTask"></span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="ng2-pagination pull-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

</div>





<!--ADD TASK MODAL-->

<app-add-task [projectId]="projectId" [categoryList]="projectCategories" [userList]="projectTeam" (updateTasks)="updateTasksTable($event)"></app-add-task>

<!--EDIT TASK MODAL-->
<app-edit-task [selectedTask]="selectedTask"
               [projectId]="projectId"
               [categoryList]="projectCategories"
               [userList]="projectTeam"
               [contactsList]="contactsList"
               (updateTasks)="updateTasks($event)"></app-edit-task>


<!-- CONFIRM DELETE MODAL -->
<div class="modal fade" id="deleteTask" tabindex="-1" role="dialog" aria-labelledby="deleteTaskLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <strong class="text-danger">Are you sure you want to delete this task?</strong>
      </div>
      <div class="modal-footer">
        <button (click)="deleteTask(selectedTask.id)" type="button" class="btn" [ngClass]="{'btn-danger': isLoading === false,'btn-info': isLoading === true}">
          <span *ngIf="isLoading === false">Yes</span>
          <span class="button-minwidth"><loading-spinner [visible]="isLoading"></loading-spinner></span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>
