<div class="add-contact">
  <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#addContact">
    <i class="glyphicon glyphicon-plus"></i>
    Add contact
  </button>
</div>





<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="inner-page-wrapper">

        <table class="table table-hover table-bordered table-condensed">
          <thead>
          <tr>
            <th width="1%">#</th>
            <th width="29%">Contact</th>
            <th width="25%">Email</th>
            <th width="15%">Create account</th>
            <th width="10%"></th>
            <th width="10%"></th>
            <th width="5%"></th>
          </tr>
          </thead>
          <tbody *ngIf="contactsList">
          <tr *ngFor="let contact of contactsList, let i = index">
            <td>{{i}}</td>
            <td>{{contact.firstName}} {{contact.lastName}}</td>
            <td>{{contact.email}}</td>
            <td>
              <button class="btn btn-primary btn-xs btn-block" [disabled]="contact.authAccount">
                <span *ngIf="!contact.authAccount">Create App Account</span>
                <span *ngIf="contact.authAccount">Account Already Created</span>
              </button>
            </td>
            <td><button class="btn btn-warning btn-xs btn-block">Reset Password</button></td>
            <td><button class="btn btn-default btn-xs btn-block" disabled>Edit</button></td>
            <td><button class="btn btn-danger btn-xs btn-block">Delete</button></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>




<!--ADD CONTACT MODAL-->

<div class="modal fade" id="addContact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addContactLabel">Add a New Contact</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAddContact" (ngSubmit)="addNewContact()">
          <div>
            <div class="form-group" [class.has-error]="formAddContact.controls.firstName.hasError('required') && formAddContact.controls.firstName.touched">
              <label>First Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="firstName" ngControl="username">
              <span class="text-danger"  *ngIf="formAddContact.controls.firstName.hasError('required') && formAddContact.controls.firstName.touched">Invalid First Name</span>
            </div>

            <div class="form-group" [class.has-error]="formAddContact.controls.lastName.hasError('required') && formAddContact.controls.lastName.touched">
              <label>First Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="lastName">
              <span class="text-danger"  *ngIf="formAddContact.controls.lastName.hasError('required') && formAddContact.controls.lastName.touched">Invalid Last Name</span>
            </div>

            <div class="form-group" [class.has-error]="formAddContact.controls.email.hasError('noEmail') && formAddContact.controls.email.touched">
              <label>Email<span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="email">
              <span class="text-danger" *ngIf="formAddContact.controls.email.hasError('noEmail') && formAddContact.controls.email.touched">Invalid email address</span>
            </div>

            <div class="form-group" [class.has-error]="formAddContact.controls.password.hasError('required') && formAddContact.controls.password.touched">
              <label>Password<span class="text-danger">**</span></label>
              <input type="text" class="form-control" formControlName="password">
              <span class="text-danger"  *ngIf="formAddContact.controls.password.hasError('required') && formAddContact.controls.password.touched">Invalid Password</span>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="pull-left text-danger">* Required</div>
        <br>
        <div class="pull-left text-danger"> ** The user will rest password on first time login.</div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button [disabled]="formAddContact.invalid" (click)="addNewContact()" type="button" class="btn" [ngClass]="{'btn-primary': isLoading === false,'btn-info': isLoading === true}">
          <span *ngIf="isLoading === false">Add Contact</span>
          <span class="button-minwidth"><loading-spinner [visible]="isLoading"></loading-spinner></span>
        </button>
      </div>
    </div>
  </div>
</div>
