<div class="container-fluid">
  <div class="row">

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">

          <div class="col-md-4">
            <app-tasks-summary [projectSummary]="projectSummary"></app-tasks-summary>
          </div>
          <div class="col-md-4">
            <app-project-team [projectSummary]="projectSummary"></app-project-team>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body panel-custom">
                <div *ngIf="projectSummary">

                  <h6><strong>{{projectSummary.projectName | uppercase}}</strong></h6>
                  <div class="separator"></div>
                  <table class="table table-bordered table-condensed table-hover">
                    <tr>
                      <td>Created By</td>
                      <td align="right">{{projectSummary.createdBy}}</td>
                    </tr>
                    <tr>
                      <td>Created On</td>
                      <td align="right">{{projectSummary.createdOn | date:'medium'}}</td>
                    </tr>

                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>




<app-edit-project [projectSummary]="projectSummary"></app-edit-project>
