<div class="container-fluid">
  <div class="row">

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body panel-custom">

                <h6><strong>TASKS</strong></h6>
                <div class="separator"></div>
                <h3>4/5</h3>
                <div class="progress progress-striped active">
                  <div class="progress-bar" [ngStyle]="{width: 4/4*100 + '%'}"></div>
                </div>
                <div class="separator"></div>
                <a class="btn btn-primary btn-sm">View Tasks</a>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body panel-custom">

                <table class="table table-hover table-bordered table-condensed">
                  <tr>
                    <td><span data-tooltip="I’m the tooltip text.">I’m a link with a tooltip.</span></td>
                    <td>a</td>
                  </tr>
                  <tr>
                    <td>a</td>
                    <td>a</td>
                  </tr>
                  <tr>
                    <td>a</td>
                    <td>a</td>
                  </tr>
                  <tr>
                    <td>a</td>
                    <td>a</td>
                  </tr>
                  <tr>
                    <td>a</td>
                    <td><span *ngIf="selectedProject">{{selectedProject.id}}</span></td>
                  </tr>
                </table>



              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


  </div>
</div>
